body {
    margin: 15px;
}

.active-number{
    font-size: 50px;
}
.flex-user{
    display: flex;
}
.flex-user div{
    width: 35%;
    padding: 10px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #DDDDDD;
    transition: all 0.5s;
    overflow: auto;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.btn,
.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--yellow {
  color: #000;
  background-color: #25a8e6;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  height: 30px; 
  left: 60%;
  justify-content: center;
  align-items: center;
  z-index: 90;
  font-size: 7px;
}

/* .btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
} */

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #BBBBBB;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-content {
    left: 60%;/*メニューを画面内へ*/
}

#menu-btn-check {
    display: none;
}

.memberall {
    margin-top: 90px;
}

.active_user_name {
    color: #00cc00;
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nonactive_user_name {
    color: #000000;
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.submit_button {
    height:60px;
    width: 250px;
}

.comment {
    white-space: pre-wrap;
}

.ng{
    color:red;
    font-size: 30px;
}

.ok{
    color:green;
    font-size: 20px;
}

.usericon {
    width: 50px;
}

.active-users {
    display: flex;
    flex-wrap: wrap;
}

.active-user-item {
    text-align: center;
    font-size: 0.7em;
    width: 60px;
}

.active-user-item a {
    text-decoration: none;
}