<html>
  <head>
    <title>走れ三日坊主</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>走れ三日坊主</h1>
    <h2>{{td.name}}</h2>
    <p>{{td.description}}</p>
    <form action="/workstart" method="post">
      <input type="text" name="name" placeholder="名前を入力" required>
      <input type ="hidden" name="teamid" value={{td.id}}>
      <input type="submit" value="START">
    </form>
    <div>
      アクティブ人数 :
    <div class="active-number">{{mn}} </div>
    </div>
    <div class="flex-user">
      <div>
        <p>アクティブメンバー</p>
        {% for member in ms %}
        <p>
        {{member.name}} 
        ({{member.days}}日)
        </p>
        {% endfor %}
      </div>

      <div>
        <p>全体のメンバー</p>
        {% for member in am %}
        <p>
        {{member.name}}
        ({{member.status}})
        </p>
        {% endfor %}
      </div>
    </div>
    <h2>雑談</h2>
    <p>みんなで盛り上がろう！！！</p>
    <form action="/comment" method="post">
       <div><input type="text" name="name" placeholder="名前を入力" required></div>
      <textarea name="comment"  rows="3" cols="30" placeholder="コメントを入力" required></textarea>
      <input type ="hidden" name="teamid" value={{td.id}}>
      <input type="submit" value="投稿">
    </form>
    {% for comment in cm %}
      <p>
        <div>{{ loop.index }}. 名前: {{ comment.name }} 投稿日時: {{ comment.date }}</div>
        <div>{{ comment.comment }}</div>
      </p>
    {% endfor %}
  </body>
</html>