<html>
  <head>
    <title>走れ三日坊主</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <div class="yellow-button">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="btn btn--yellow btn--cubic">メンバーリスト<span></span></label>
          <!--ここからメニュー-->
          <div class="menu-content">
            <div class="memberall">
              <p>メンバー(継続日数)</p>
              {% for member in am %}
                {% if member.status == "start" %}
                  <p><a href="/profile/{{member.id}}"><span class="active_user_name">{{member.name}}</span></a>({{member.days}}日)</p>
                {% else %}
                <p><a href="/profile/{{member.id}}"><span class="nonactive_user_name">{{member.name}}</span></a>({{member.days}}日)</p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <!--ここまでメニュー-->
      </div>
  </header>
  <div class="title">
    <h1>走れ三日坊主</h1>
  </div>
    <h2>{{td.name}}</h2>
    <p>{{td.description}}</p>
    <p><div><a href="/" class="back_button">戻る</a></div></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
      アクティブ人数 :
    <div class="active-number">{{mn}} </div>
    </div>

    <div class="active-users">
    {% for member in ms%}
    <div class="active-user-item">
      <a href="/profile/{{member.id}}">
        <img src="/static/img/icon1.png" class="usericon">
        <div>{{member.name}}</div>
      </a>
    </div>
    {% endfor %}
    </div>

    <h2>新着コメント</h2>
    <p>みんなで盛り上がろう！！！</p>
    <form action="/comment" method="post" onsubmit="nameinput()">
        <div><input type="hidden" name="name" id="comment_username"></div>
        <h3>かんたんコメントボタン</h3>
        <p>
          <button type="submit" name="comment" value="こんにちは！">こんにちは！</button>
          <button type="submit" name="comment" value="これから運動やります">これから運動やります</button>
          <button type="submit" name="comment" value="運動終わりました">運動終わりました</button>
          <button type="submit" name="comment" value="お疲れさま！">お疲れさま！</button>
          <button type="submit" name="comment" value="すごい！">すごい！</button>
          <button type="submit" name="comment" value="筋肉が喜んでいる！">筋肉が喜んでいる！</button>
        </p>
        <input type ="hidden" name="teamid" value={{td.id}}>
    </form>
    <a href="/allcomment/{{td.id}}">全てのコメント、入力フォームはこちら</a>
    {% for comment in cm %}
      <p>
        <div>{{ loop.revindex }}. 名前: {{ comment.name }} 投稿日時: {{ comment.date }}</div>
        <div class="comment">{{ comment.comment }}</div>
      </p>
    {% endfor %}
  </body>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/comment.js"></script>
  <script>
    setTimeout(function () {
      location.reload();
    }, 15000);
  </script>
</html>