<html>
  <head>
    <title>走れ三日坊主</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <div class="yellow-button">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="btn btn--yellow btn--cubic">メンバーリスト<span></span></label>
          <!--ここからメニュー-->
          <div class="menu-content">
            <div class="memberall">
              <p>メンバー(継続日数)</p>
              {% for member in am %}
                {% if member.status == "start" %}
                  <p><a href="/profile/{{member.id}}"><span class="active_user_name">{{member.name}}</span></a>({{member.days}}日)</p>
                {% else %}
                  <p><a href="/profile/{{member.id}}">{{member.name}}</a>({{member.days}}日)</p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <!--ここまでメニュー-->
      </div>
  </header>
    <h1>走れ三日坊主</h1>
    <h2>{{td.name}}</h2>
    <p>{{td.description}}</p>
    <p><a href="/">戻る</a></p>
    <form action="/workstart" method="post" onsubmit="save()">
      <div><input type="text" name="name" placeholder="名前を入力" id="username" required></div>
      <input type ="hidden" name="teamid" value={{td.id}}>
      <p><input type="submit" value="START" class="submit_button"></p>
    </form>
    <div>
      アクティブ人数 :
    <div class="active-number">{{mn}} </div>
    </div>

    <table border="1">
      <tr><th>名前</th><th>運動内容</th></tr>
      {% for member in ms %}
        <tr><td>{{member.name}}</td><td>{{member.training_detail}}</td></tr>
      {% endfor %}
    </table>

    <h2>新着コメント</h2>
    <p>みんなで盛り上がろう！！！</p>
    <form action="/comment" method="post">
        <div><input type="text" name="name" placeholder="名前を入力" id="chat_username" required></div>
        <h3>かんたんコメントボタン</h3>
        <p>
          <button type="submit" name="comment" value="こんにちは！">こんにちは！</button>
          <button type="submit" name="comment" value="これから運動やります">これから運動やります</button>
        </p>
        <input type ="hidden" name="teamid" value={{td.id}}>
    </form>
    <a href="/allcomment/{{td.id}}">全てのコメント、入力フォームはこちら</a>
    {% for comment in cm %}
      <p>
        <div>{{ loop.revindex }}. 名前: {{ comment.name }} 投稿日時: {{ comment.date }}</div>
        <div class="comment">{{ comment.comment }}</div>
      </p>
    {% endfor %}
  </body>
  <script src="/static/js/script.js"></script>
  <script>
    setTimeout(function () {
      location.reload();
    }, 10000);
  </script>
</html>