<html>
  <head>
    <title>走れ三日坊主</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" type="image/png" href="/static/img/apple-touch-icon.png">
  </head>
  <body>
    <div class="center">
    <div class="bottom_title">
      <h1>走れ三日坊主</h1>
    </div>
    <div class="bottom_body">
      <p>ようこそ！</p>
      <p>名前を入力して運動を開始しましょう！</p>
    </div>
    <form action="/name_submit" method="post" onsubmit="save()">
        <div class="bottom">
          <input type="text" name="name" placeholder="名前を入力" id="username" required class="form_button">
        </div>
        <p><input type="submit" value="START" class="submit_button"></p>
    </form>
  </div>
  <div class="modal-overlay closed" id="modal-overlay"></div>
    <div class="modal closed" id="modal">
      <button class="close-button" id="close-button">閉じる</button>
      <div class="modal-guts">
        <h3>走れ三日坊主の使い方！</h3>
        <p>
          1. 名前を入力する<br>
          2. 自分の運動する時間のグループを選択<br>
          3. STARTを押してLet's 運動！<br>
          <br>
          注意！<br>
          運動開始する時間に制限があります。<br>
          (例)20時のグループ → 19 ~ 21時に開始可能！
        </p>
      </div>
    </div>
    <button id="open-button" class="open-button">使い方</button>
  </body>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/popup.js"></script>
</html>