<html>
  <head>
    <title>走れ三日坊主</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="center">
    <div class="bottom_title">
      <h1>走れ三日坊主</h1>
    </div>
    <div class="bottom_body">
      <p>ようこそ！</p>
      <p>名前を入力して運動を開始しましょう！</p>
    </div>
    <form action="/name_submit" method="post" onsubmit="save()">
        <div class="bottom">
          <input type="text" name="name" placeholder="名前を入力" id="username" required class="form_button">
        </div>
        <p><input type="submit" value="START" class="submit_button"></p>
    </form>
  </div>
  <div class="modal-overlay closed" id="modal-overlay"></div>
    <div class="modal closed" id="modal">
      <button class="close-button" id="close-button">閉じる</button>
      <div class="modal-guts">
        <h4>ポップアップウィンドウ</h4>
        <p>この窓が表示されている間は窓の外の操作はできません。ウィンドウを閉じて操作して下さい。</p>
      </div>
    </div>
    <button id="open-button" class="open-button">ポップアップ表示</button>
  </body>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/popup.js"></script>
</html>