<html>
  <head>
    <title>走れ三日坊主</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>走れ三日坊主</h1>
    <h2>グループ一覧</h2>
    <p>はじめまして！</p>
    <p>まず最初に、グループを選択してください。</p>
    {% for team in tm %}
    <p>
        <a href="/detail/{{team.id}}">{{team.name}}</a>
    </p>
    {% endfor %}
    <form action="/teamchoice" method="post">
      {% for team in td %}
        {% if loop.first %}
          <p><label><input type="radio" value="{{team.id}}" name="teamid" checked>{{team.name}}</label></p>
        {% else %}
          <p><label><input type="radio" value="{{team.id}}" name="teamid">{{team.name}}</label></p>
        {% endif %}
      {% endfor %}
      <input type ="hidden" name="username" value={{username}}>
      <input type="submit" value="決定">
    </form>
  </body>
  <script src="/static/js/script.js"></script>
</html>